<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h4>
        <a href="{{ site.newbaseurl }}">
          {{ site.title }}
        </a>
      </h4>
      <p class="lead"> <font size = "4">{{ site.description }}</font></p>
      </br>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.newbaseurl %} active{% endif %}" href="{{ site.newbaseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->

    </nav>

    <footer>
        <div class="sidebar-social">
            <a href = "https://www.twitter.com/quangctkm9207" target="_blank">
              <img src="{{ site.newbaseurl }}assets/ic_twitter.png" alt="Twitter">
            </a>
            <a href = "https://github.com/quangctkm9207" target="_blank">
              <img src="{{ site.newbaseurl }}assets/ic_github.png" alt="Github">
            </a>
            <a href = "https://www.linkedin.com/in/quangctkm9207" target="_blank">
              <img src="{{ site.newbaseurl }}assets/ic_linkedin.png" alt="Linkedin">
            </a>
            <a href = "https://medium.com/@quangctkm9207" target="_blank">
              <img src="{{ site.newbaseurl }}assets/ic_medium.png" alt="Medium">
            </a>
            <a href = "https://stackoverflow.com/users/3415319/" target="_blank">
              <img src="{{ site.newbaseurl }}assets/ic_stackoverflow.png" alt="StackOverflow">
            </a>
            <a href = "https://play.google.com/store/apps/developer?id=EmoPass+Studio" target="_blank">
              <img src="{{ site.newbaseurl }}assets/ic_gp.png" alt="Google Play">
            </a>
          </div>
    </footer>

  </div>
</div>
